<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpg.dao.OrdersDao">
	<select id="getAllOrders" resultType="com.wpg.pojo.Orders">
		select * from orders
	</select>
	
	<!-- <delete id="deleteOrder_Hardware">
		delete from order_hardware where id = #{0}
	</delete> -->
	
	<delete id="deleteOrders">
		delete from order_water where oid = #{0}
	</delete>
	
	<select id="getAllOrdersByUserId" resultType="com.wpg.pojo.Orders">
		select * from orders where user_id=#{0}
	</select>
	
	<insert id="insertOrders" parameterType="com.wpg.pojo.Order_Water">
		
		insert into order_water values(null,#{order_Water.wId},#{order_Water.num})
		<selectKey order="AFTER"  keyColumn="oId" keyProperty="order_Water.oId" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertOrder_Hardware">
	insert into order_hardware values
		<foreach collection="order_Hardwares" item="order_Hardware" separator=",">
			(#{order_Water.oId},#{order_Hardware.hardware_id},#{order_Hardware.multiple})
		</foreach>
	</insert>
	<delete id="deleteOrder_HardwareById">
		delete from order_hardware where order_id = #{0}
	</delete>
	
	<select id="getOrder_HardwaresByOrdersId" resultMap="order_HardwareDetail">
		select * from order_hardware where order_id = #{0}
	</select>
	
	<resultMap type="com.wpg.pojo.Order_Hardware" id="order_HardwareDetail">
		<id column="order_id" property="order_Id"></id>
		<result column="hardware_id" property="hardware_id"></result>
		<result column="multiple" property="multiple"/>
		<association  column="hardware_id" property="hardware_Group" select="com.wpg.dao.HardwareDao.selHardwareById">
		</association>
	</resultMap>	
</mapper>