<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpg.dao.OrdersDao">
	<select id="getAllOrders" resultType="com.wpg.pojo.Orders">
		select * from orders
	</select>
	
	<delete id="deleteOrder_Hardware">
		delete from order_hardware where id = #{0}
	</delete>
	
	<delete id="deleteOrders">
		delete from orders where id = #{0}
	</delete>
</mapper>