<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpg.dao.Water_DivisionDao">

	<select id="getWater_DivisionByRegion" resultType="com.wpg.pojo.Water_Division">
		select * from water_division where region=#{0} 	
	</select>
	
	<select id="getOrder_WaterByWId" resultType="com.wpg.pojo.Order_Water">
		select oid from order_water where wid=#{0}
	</select>
	
	<select id="getPicByWid" resultType="com.wpg.pojo.Pic">
		select * from pic where wid=#{0}
	</select>
	
	<select id="getOrder_WaterInfos" resultMap="Order_WaterInfo">
		select * from water_division  where region=#{0}
	</select>
	
	<select id="getOrder_HardwaresByWId" resultMap="orderInf">
		select a.*,b.num from order_hardware a inner join order_water b 
		on a.order_id=b.oid  where b.wid=#{0}
	</select>
	
	<resultMap type="com.wpg.bean.Order_WaterInfo" id="Order_WaterInfo">
		<id column="wid" property="wId"></id>
		<result column="wname" property="wName"></result>
		<result column="region" property="region"></result>
		
		<association property="pic" select="getPicByWid" column="wid" >
			<result column="pid" property="pId"></result>
			<result column="pname" property="pName"></result>
			<result column="ptel" property="pTel"></result>
		</association>
		<collection property="orderInfo"
		ofType="com.wpg.bean.OrderInfo" column="wid"
		select="getOrder_HardwaresByWId">
			<!-- <result column="order_id" property="oId"/>
			<result column="num" property="num"/>
			<association property="order_Hardware">
				<id column="order_id" property="order_Id"></id>
				<result column="hardware_id" property="hardware_id"></result>
				<association  column="hardware_id" property="hardware_Group" select="com.wpg.dao.HardwareDao.selHardwareById">
				</association>
			</association> -->
		</collection>
	</resultMap>
	
	<resultMap type="com.wpg.bean.OrderInfo" id="orderInf" >
			<id column="order_id" property="oId"/>
			<result column="num" property="num"/>
			<collection property="order_Hardwares" ofType="com.wpg.pojo.Order_Hardware">
				<result column="hardware_id" property="hardware_id"></result>
				<result column="multiple" property="multiple"/>
				<association  column="hardware_id" property="hardware_Group" select="com.wpg.dao.HardwareDao.selHardwareById">
				</association> 
			</collection>
	</resultMap>
	
	<delete id="delWater_DivisionById" parameterType="Integer">
		delete from water_division	where wid=#{0}
	</delete>
	<insert id="addWater_Division" parameterType="com.wpg.pojo.Water_Division">
		insert into water_division(wname,region) value(#{wName},#{region})
	</insert>
	
	<update id="updateOrder_Water">
		update order_water set num=#{num} where oid=#{oId} and wid=#{wId}
	</update>
	
	<update id="updateOrder_HardwareMultiple">
		<foreach collection="order_Hardwares" separator=";" item="order_Hardware">
			update order_hardware <set>
				multiple=#{order_Hardware.multiple} 
				</set> 
			where hardware_id=#{order_Hardware.hardware_id} 
			and order_id=#{order_Hardware.order_Id}
		</foreach>
		
	</update>
</mapper>